footer.page-footer
	div.container
		div.row
			div.col.l6.s12
				p.white-text © Guestbook Inc.

script(type="text/javascript" src="/js/jquery-3.1.1.min.js")
script(type="text/javascript" src="/js/materialize.min.js")
script(type="text/javascript" src="/js/custom.js")