html
	
	-var title = "Home"
	include includes/header.pug

	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						li.active
							a(href='/') Home
						li
							a(href='/login') Login
						li
							a(href='/profile') Profile
						li
							a(href='users/new') Sign up

		h1.center-align THE Blog

		each thing in data
			div.container.center-align
				div.row.text-align
					div.col.l6.offset-l3.s12.post
								p.title #{thing.title}
								p #{thing.message}
