html
	head
		body

			h1 Login

			form(method='post' action='/login')

				p E-mail
				input(type='text', name='loginEmail')

				p Password
				input(type='text', name='loginPassword')

				br
				br
				input(type='submit' value='submit')


			each thing in data
				p #{thing.title}
				p #{thing.message}
