html
	
	-var title = "Login"
	include includes/header.pug

	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						li
							a(href='/') Home
						li.active
							a(href='/login') Login
						li
							a(href='/users/new') Sign up

		h1.center-align Login

		div.container.center-align
			div.row.text-align
				div.col.l6.offset-l3.s12.post
					div.input-field

						form(method='post' action='/login/user')

							p E-mail
							input(type='email', name='loginEmail' required)

							p Password
							input(type='password', name='loginPassword' required)

							br
							br
							input(type='submit' value='submit')

		include includes/footer.pug
