html
	-var title = "Profile"
	include includes/header.pug

	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						
						li
							a(href='/') Home
						li.active
							a(href='/profile') Profile
						li
							a(href='/posts/new') New Entry
						li
							a(href='/search') Search Post
						li
							a(href='/logout') Logout

		h1.center-align Profile

		div.container.center-align
			div.row.text-align
				div.col.l6.offset-l3.s12.post

					h3 Welcome, #{data.name}!

					h3 Your e-mail address is #{data.email}
			form(method='post' action='/logout' )
				button Logout

		include includes/footer.pug
