html
	-var title = 'Sign up'
	include includes/header.pug
	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						li
							a(href='/') Home
						li
							a(href='/login') Login
						li.active
							a(href='/users/new') Sign up

		h1.center-align Sign up now!

		div.container.center-align
			div.row.text-align
				div.col.l6.offset-l3.s12.post
					div.input-field

						form(method='post' action='/users')

							p Username
							input(type='text', name='inputName' required pattern=".{5,10}" title="Choose a username that contains 5 to 10 characters")

							p E-mail
							input(type='email', name='inputEmail' required)

							p Password
							input(type='password', name='inputPassword' required pattern=".{6,15}" title="Choose a password that contains 5 to 15 characters")

							br
							br
							input(type='submit' value='submit')

		include includes/footer.pug

