html
	-var title = 'Sign up'
	include includes/header.pug
	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						li
							a(href='/') Home
						li
							a(href='/login') Login
						li
							a(href='/profile') Profile
						li.active
							a(href='users/new') Sign up

		h1.center-align Sign up now!

		div.container.center-align
			div.row.text-align
				div.col.l6.offset-l3.s12.post
					div.input-field

						form(method='post' action='/users')

							p Username
							input(type='text', name='inputName')

							p E-mail
							input(type='text', name='inputEmail')

							p Password
							input(type='text', name='inputPassword')

							br
							br
							input(type='submit' value='submit')

		include includes/footer.pug

