html
	head
		body

			h1 Sign up now!

			form(method='post' action='/users')

				p Username
				input(type='text', name='inputName')

				p E-mail
				input(type='text', name='inputEmail')

				p Password
				input(type='text', name='inputPassword')

				br
				br
				input(type='submit' value='submit')
