html
	
	-var title = "Home"
	include includes/header.pug

	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						if user
							li.active
								a(href='/') Home
							li
								a(href='/login') Login
							li
								a(href='/profile') Profile
							li
								a(href='/users/new') Sign up
							li
								a(href='/posts/new') New Entry
						else
							li.active
								a(href='/') Home
							li
								a(href='/login') Login
							li
								a(href='users/new') Sign up
							li
								a(href='/posts/new') New Entry


		h1.center-align THE Blog

		div.container.center-align
			div.row.text-align
				div.col.l6.offset-l3.s12.post

					form(method='post' action='/searchUser')

						p Looking for anything specific?
						p Type in the name of the user you're searching for!
						input(type='text', name='inputSearch')
						br
						br
						input(type='submit' value='submit')

			h3 Here's what we found:

			if data
				each thing in data
					div.row.text-align
						div.col.l6.offset-l3.s12.post
							if thing.user
								p #{thing.user.name}
							p #{thing.createdAt}
							a.title(href="/viewpost?id=" + thing.id) #{thing.title}
							p #{thing.message}
	

		include includes/footer.pug