html
	
	-var title = "Home"
	include includes/header.pug

	body
		main
			nav
				.nav-wrapper
					a.brand-logo.center
						ul.left.hide-on-med-and-dow
							li
								a(href='/') Home
							li
								a(href='/profile') Profile
							li
								a(href='/posts/new') New Entry
							li.active
								a(href='/search') Search Post
							li
								a(href='/logout') Logout


			h1 Blog Search

			div.container.center-align
				div.row.text-align
					div.col.l6.offset-l3.s12.post

						form(method='post' action='/searchUser')

							p Looking for anything specific?
							p Type in the name of the user you're searching for, and we'll show you his or her posts!
							input(type='text', name='inputSearch')
							br
							br
							input(type='submit' value='submit')

				if data
					h5 Here's what we found:
					each thing in data
						div.row.text-align
							div.col.l6.offset-l3.s12.post
								p #{thing.user.name}
								p.date.right-align.title #{thing.createdAt}
								div.center-align
									p #{thing.title}
									p.center-align #{thing.message}
									a(href="/viewpost?id=" + thing.id) Click to view and make comments


		include includes/footer.pug